<div class="flex bg-slate-200 justify-center items-center
     h-screen w-screen border border-gray-200">
  <div class="shadow-sm w-1/2 p-10 bg-white rounded-md">


    <h1 class="text-xl font-bold text-blue-900">Reset Password?</h1>

    <p class="text-xs text-slate-900 mt-3 font-medium">
      Email Address
    </p>
    <input type="email" readonly name="email" class="w-full mb-2 border
   border-gray-200 shadow-sm p-2 rounded-md" placeholder="Email"
           [(ngModel)]="resetPassword.email" />

    <p class="text-xs text-slate-900 mt-3 font-medium">
      New Password
    </p>
    <input type="password" name="password" class="w-full mb-2 border
border-gray-200 shadow-sm p-2 rounded-md" placeholder="New Password"
           [(ngModel)]="resetPassword.newPassword" />


    <button (click)="resetPasswordHandle()" [disabled]="!resetPassword.email || !resetPassword.newPassword" class="w-full disabled:opacity-50
       p-2 bg-blue-400 rounded-md
        text-white mt-2">
      Reset Password
    </button>

  </div>
</div>
